/*Divs*/

.topBarDiv {
    display: flex;
    justify-content: space-between;
}

.topButtonsDiv {
    display: inline;
    justify-content: space-between;
    padding-top: 10px;
    margin-right: 30px;
    margin-top: 40px;
}

.mainContentDiv {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    text-align: center;
    flex: 1 1 0;
}

.productAddMainDiv {
    margin: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.productDiv {
    width: 210px;
    height: 170px;
    margin: 25px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border: #242424;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
}

/*Buttons Inputs and Labels*/

.topButton {
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
}

.textInput {
    margin-top: 20px;
}

label {
    width: 80px;
    clear: left;
    text-align: left;
    padding-right: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}

input,
label {
    margin-top: 10px;
    float: left;
}

.labelWide {
    width: 120px;
    clear: left;
    text-align: left;
    padding-right: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}

select {
    margin-top: 25px;
    height: 25px;
}

input {
    height: 18px;
    border-width: 1px;
    border-radius: 2px;
    border-style: solid;
    border-color: #bbbbbb;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input:invalid {
    box-shadow: 0 0 3px #ff000066;
}

input:invalid:focus {
    border-color: #ff8b8b;
}

input:valid {
    border-color: #4caf4c;
}

.checkmark {
    margin-left: 5px;
    margin-top: 5px;
    height: 16px;
    width: 16px;
}

/*Fonts*/

body {
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px;
    font-family: sans-serif;
}

h1 {
    padding-top: 40px;
    padding-left: 20px;
    margin: 0px;
}

.descriptionFont {
    font-size: 14px;
}

.errorFont {
    font-size: 14px;
    color: red;
}

.productCardTopText {
    padding-top: 10px;
    margin: 0;
    text-align: center;
}

.centeredText {
    margin: 0;
    text-align: center;
}
